<div class="mt-2 p-2 bg-success text-white rounded">
    <h1>Post API</h1>
    <p>Post API Call</p>
</div>
<form [formGroup]="newPost">
    <div class="mb-3">
        <label for="userId" class="form-label">User ID</label>
        <input type="number" class="form-control" id="userId" name="userId" required formControlName="userId">
    </div>

    <div class="mb-3">
        <label for="id" class="form-label">Post ID</label>
        <input type="number" class="form-control" id="id" name="id" required formControlName="id">
    </div>

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required formControlName="title">
    </div>

    <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea class="form-control" id="body" rows="4" name="body" required formControlName="body"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" (click)="savePost()">Submit</button>
</form>