<div class="mt-4 pt-2 bg-info text-black rounded">
    <h2>Pipes</h2>
    <ol>
        <li>Default Pipes</li>
        <li>Custom Pipes</li>
    </ol>
</div>
<div class="row mt-2">
    <div class="col-3">

        <h4>Upper case Pipe</h4>
        Orignal Value:{{firstName}}<br>
        After Pipe:{{firstName | uppercase}}
    </div>
    <div class="col-3">
        <h4>Lower Case Pipe</h4>
        Orignal Value:{{lastName}}<br>
        After Pipe:{{lastName | lowercase}}
    </div>
    <div class="col-3">
        <h4>Titlecase Pipe</h4>
        Orignal Value:{{fullName}}<br>
        After Pipe:{{fullName |titlecase }}
    </div>
    <div class="col-3">
        <h4>Date Pipe</h4>
        <b> Orignal Value:</b>{{todayDate}}<br>
        <b>After Pipe:</b>{{todayDate |date }}
    </div>
</div>
<div class="row mt-2">
    <div class="col-3">
        <h4>Date Pipe With custom Format</h4>
        <b> Orignal Value:</b>{{todayDate}}<br>
        <b>After Pipe:</b>{{todayDate |date:'dd-MM-yyyy' }}
    </div>
    <div class="col-3">
        <h4>Date Pipe With custom Format</h4>
        <b> Orignal Value:</b>{{todayDate}}<br>
        <b>After Pipe:</b>{{todayDate |date:'yyyy-MM-dd' }}
    </div>
    <div class="col-3">
        <h4>Date Pipe With custom Format</h4>
        <b> Orignal Value:</b>{{todayDate}}<br>
        <b>After Pipe:</b>{{todayDate |date:'dd-MMM-yyyy' }}
    </div>
    <div class="col-3">
        <h4>JSON Pipe</h4>
        <b> Orignal Value:</b>{{student}}<br>
        <b>After Pipe:</b>{{student |json }}
    </div>
    <div class="col-3">
        <h4>Async Pipe</h4>
        <b> Orignal Value:</b>{{todayDate1}}<br>
        <b>After Pipe:</b>{{todayDate1 |async|date:'hh-mm-ss' }}
    </div>
</div>