<div class="mt-4 pt-3 text-white bg-primary rounded">
    <h1>Custom Pipe</h1>
</div>
<div class="row">
    <div class="col-3">
        <strong>Before Pipe</strong>
        <b>Name:</b>{{student.name}}<br>
        <b>age:</b>{{student.age}}<br>
        <b>email:</b>{{student.email}}<br>
        <b>class:</b>{{student.class}}<br>
        <strong>After Pipe</strong>
        <b>Name:</b>{{student.name|custom}}<br>
        <b>age:</b>{{student.age|custom}}<br>
        <b>email:</b>{{student.email|custom}}<br>
        <b>class:</b>{{student.class|custom}}<br>
    </div>
</div>